# System related
**/.DS_Store
**/_MACOSX/*
**/*.ipynb_checkpoints
**/._*
**/__pycache__

# To add back as needed
data/airbnb
data/salex
data/salex-novels
data/winereviews
data/newzy
data/novels
M91_Charrette