# System related
**/.DS_Store
**/_MACOSX/*
**/*.ipynb_checkpoints
**/._*
**/__pycache__

# Block file name
**/*_HIDE*

# Content related
# Add back as needed
data/airbnb
data/winereviews
data/newzy
M11*
M12*
M9*