# System related
**/.DS_Store
**/_MACOSX/*
**/*.ipynb_checkpoints
**/._*
**/__pycache__

# Block file name
**/*_HIDE*

# Content related
# Add back as needed
data/airbnb
data/salex
data/salex-novels
data/winereviews
data/newzy
data/novels
M07*
M08*
M09*
M10*
M11*
M12*
M91_Charrette